/* App.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5; /* Light background to contrast the content */
    color: #333;
    overflow-x: hidden;
  }
  
  h1, h2, h3, p {
    margin: 0;
  }
  